.Dictionary {
  color: #fff;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-family: "Fjalla One", sans-serif;
}

.Dictionary h1 {
  margin: 15px;
}
.Dictionary small {
  font-size: 12px;
}

.Dictionary section {
  border: 1px solid rgb(136, 69, 163);
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
}

.Dictionary input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px dotted rgb(136, 28, 179);
  color: #fff;
  padding: 5px 20px;
  margin-left: 15px;
  text-indent: 0em;
}

.Dictionary input:focus {
  outline: none;
}

.Dictionary button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.Dictionary small {
  margin: 15px;
}

.Dictionary .SearchIcon {
  color: rgb(136, 28, 179);
}

.Dictionary .SearchIcon:hover {
  color: rgb(204, 184, 212);
}

.Dictionary footer {
  text-align: center;
  font-size: 14px;
  margin: 10px;
}

.Dictionary footer a {
  text-decoration: none;
  color: rgb(136, 28, 179);
}

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@media only screen and (max-width: 576px) {
  .Dictionary {
    width: 100%;
  }

  .Dictionary footer {
    font-size: 12px;
  }
}
