.Dictionary {
  color: #fff;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-family: "Fjalla One", sans-serif;
}

.Dictionary section {
  border: 1px solid rgb(136, 69, 163);
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
}

.Dictionary input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px dotted rgb(136, 28, 179);
  color: #fff;
  padding: 5px 20px;
  margin: 15px;
  text-indent: 0em;
}

.Dictionary input:focus {
  outline: none;
}

.Dictionary button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.Dictionary .Icon {
  color: rgb(136, 28, 179);
}

.Dictionary .Icon:hover {
  color: rgb(204, 184, 212);
}

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@media only screen and (max-width: 576px) {
  .Dictionary {
    width: 100%;
  }
}
